h1 {
  margin: 0;
  padding: 0.2rem;
}
.h2Categorias {
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Radio Canada", sans-serif;
  font-size: larger;
  background-color: #12283c;
  box-shadow: 0px 1px 0px black;
}
.containerButtonLogin {
  position: absolute;
  padding-top: 10px;
  right: 50px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1d232a;
  color: #ffff;
}
input:focus {
  outline: none;
}
.LoginAndLogout {
  background-color: transparent;
  color: white;
  border-radius: 10rem;
  border: 0;
  padding: 0rem;
  text-decoration: underline;
  cursor: pointer;
}
.LoginAndLogout:hover {
  background-color: transparent;
}
.containerListaProdutos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px black;
}
.produto {
  width: 300px;
  height: 240px;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 2px 3px black;
  background-color: #12283c;
  text-align: center;
  border-radius: 0.5rem;
}
.produto > img {
  margin-top: 0.5rem;
  width: 300px;
  height: 165px;
  object-fit: cover;
}
.produto > p {
  margin: 0;
  margin-top: 0.5rem;
  font-family: "Radio Canada", sans-serif;
  font-size: medium;
  font-weight: bold;
}
.buttonComprar {
  width: 150px;
  height: 22px;
  background-color: #b22222;
  color: white;
  cursor: pointer;
  border-radius: 0.2rem;
  border: none;
  margin-top: 0.5rem;
  padding: 0rem;
}
.buttonComprar:hover {
  background-color: #831919;
  color: white;
}
.buttonComprar::after {
  background: blue;
}
.swiper-wrapper {
  margin: 0;
  padding: 0.5rem;
  padding-left: 5.2rem;
}
.nameUser {
  font-size: small;
}
.search{
  display: flex;
  width: 100%;
  justify-content: center;
}
.container-Search{
  display: flex;
  flex-direction: column;
  width: 25rem;
}
.campo-search{
  width: 100%;
  margin: 2rem 0rem 1rem 0rem;
  position: relative;
}
.InputSearch{
  font-size: medium;
  width: 100%;
  padding: 0.5rem 2.2rem 0.5rem 1rem;
  border: None;
  border-radius:4px;
  box-sizing: border-box;
}
.iconSearch{
  color: gray;
  cursor: pointer;
  position: absolute;
  left: 23rem;
  top: 85%;
  transform: translateY(-100%);
}
.container-resultados{
  background-color: #00162A;
  background: rgba(0, 22, 42, .6);
  position: absolute;
  top: 7.25rem;
  width: 25rem;
  border-radius: 0.2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.itemNaBarraDeBusca{
  background-color: #12283C;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  width: 95%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  align-items: center;
}
.itemNaBarraDeBusca > img{
  width: 150px;
  height: 80px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0px 0px 1px 1px black;
}
.campoAcoesItens{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.campoAcoesItens > button{
  margin-top: 2.1rem;
  align-self: flex-end;
  padding: 0;
  width: 50%;
}
.campoAcoesItens > p{
  margin-left: 0.5rem;
  align-self: flex-start;
}